* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: rgb(6, 6, 6);
}

.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
  
}

.square {
  padding: 1rem;
  border: 2px solid white;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 20px rgba(0, 17, 128, 0.656),-5px -5px 20px rgba(0, 17, 128, 0.656);
}

h1{
  color: cyan;
  text-transform: capitalize;
}

.reset{
border: 1px solid white;
color: white;
background: none;
margin-left: 10px;
padding: 8px;
transition: all .5s;

box-shadow: 5px 5px 15px rgba(0, 255, 255, 0.212),-5px -5px 15px rgba(0, 255, 255, 0.201);}

.reset:hover{
  color: cyan;
  text-shadow: 5px 5px 20px rgba(0, 255, 255, 0.693);
  box-shadow:  5px 5px 15px rgba(0, 255, 255, 0.412),-5px -5px 15px rgba(0, 255, 255, 0.401);
  transform: scale(0.9);
}

@media only screen and (max-width: 600px) {
 
  .board-row {
width: 65vw;
  }
}

@media only screen and (max-width: 350px) {
 
  .board-row {
width: 90vw;
  }
}